{% extends 'base.html.twig' %}
{% block body %}
    {{ include("components/home_slider.html.twig", {'slider': homeSlider })}}
<div class="container">
    <div class="section small_pt pb_70">
    	<div class="container-home">
		<div class="row justify-content-center">
			<div class="col-md-6">
            	<div class="heading_s1 text-center">
                <h2>Les nouveautés</h2>
                </div>
            </div>
		</div>
        <div class="row">
        	<div class="col-12">
            <div class="tab-content">
                    <!--ici chaque tab d'onglet en detail -->
                	<div class="tab-pane fade show active" id="arrival" role="tabpanel" aria-labelledby="arrival-tab">
                        <div class="row shop_container">
                            {% for  product in productNewArrival %}
                                {{include('components/product.html.twig', {'product': product})}}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- -->
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
