.padding_eight_all{
    background-color: $secondColor;
    border-radius:10px;
}
.login_wrap{
    box-shadow: none;
}
.dashboard_content {
	margin: 0;
    margin-bottom:25em;
}
.dashboard_menu .nav-tabs li.nav-item a.active{
    background-color:$secondColor;
    color:black;
}

.dashboard_menu {
	box-shadow: 0 0px 4px 0 #e9e9e9;
}
.dashboard_menu .nav-tabs li.nav-item a {
	text-align: left;
	padding: 12px 20px;
	border-radius: 0;
	border-bottom: 1px solid #efefef;
	color: #2b2f4c;
}
.dashboard_menu .nav-tabs li.nav-item a.active {
	background-color:$firstColor;
	color: #fff;
}
.dashboard_menu .nav-tabs li.nav-item a i {
	margin-right: 8px;
	vertical-align: middle;
}

.dashboard_content .card-header {
	background-color: transparent;
	border-color: #f0f0f0;
}
.dashboard_content .card-header * {
	margin: 0;
}
.dashboard_content .card {
	border-radius: 0;
	border: 0;
	box-shadow: 0 0px 4px 0 #e9e9e9;
}
.dashboard_content .card-body p:last-child {
	margin: 0;
}
.dashboard_content .table {
	margin: 0;
}
.dashboard_content .table thead th {
	border: 0;
	padding-top: 0;
	font-weight: 600;
}
.dashboard_content .table tbody tr:last-child td {
	padding-bottom: 0;
}
.dashboard_content .table tbody tr td {
	vertical-align: middle;
	white-space: nowrap;
}
.dashboard_content label {
	color: #333;
}
.dashboard_content label .required {
	color: #ff0000;
}
.form-control {
	color: #000;
	box-shadow: none;
	height: 50px;
	padding: 8px 15px;
}
.form-control:focus,
.custom-file-input:focus ~  {
	color: #000;
	box-shadow: none;
	height: 50px;
}
.dashboard_content label .required {
	color: #ff0000;
}
.dashboard_content .table thead th {
	border: 0;
	padding-top: 0;
	font-weight: 600;
}
.dashboard_content .table tbody tr:last-child td {
	padding-bottom: 0;
}
.dashboard_content .table tbody tr td {
	vertical-align: middle;
	white-space: nowrap;
}
.dashboard_content label {
	color: #333;
}
.dashboard_content label .required {
	color: #ff0000;
}
.dashboard_menu .nav-tabs li.nav-item a.active {
	background-color: $firstColor;
	color: #fff;
}
.dashboard_menu .nav-tabs li.nav-item a i {
	margin-right: 8px;
	vertical-align: middle;
}
.dashboard_content {
	margin: 0;
}
.dashboard_content .card-header {
	background-color: transparent;
	border-color: #f0f0f0;
}
.dashboard_content .card-header * {
	margin: 0;
}
.dashboard_content .card {
	border-radius: 0;
	border: 0;
	box-shadow: 0 0px 4px 0 #e9e9e9;
}
.dashboard_content .card-body p:last-child {
	margin: 0;
}
.dashboard_content .table {
	margin: 0;
}
.term_conditions p,
.term_conditions li {
	font-size: 14px;
	margin-bottom: 15px;
	line-height: 28px;
}
.subscribe_popup .modal-body {
	padding: 0;
}
.subscribe_popup .modal-content {
	border: 0;
	border-radius: 0;
}
.popup_content {
	padding: 50px;
	text-align: center;
}
.subscribe_popup .close {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 9;
	opacity: 1;
	text-shadow: none;
	width: 40px;
	height: 40px;
}
.subscribe_popup .close i {
	font-size: 40px;
}
.modal {
	z-index: 99999;
}
.modal-backdrop {
	z-index: 9999;
}
.dashboard_menu {
	box-shadow: 0 0px 4px 0 #e9e9e9;
}
.dashboard_menu .nav-tabs li.nav-item a {
	text-align: left;
	padding: 12px 20px;
	border-radius: 0;
	border-bottom: 1px solid #efefef;
	color: #2b2f4c;
}
.mdtp__wrapper {
	bottom: auto;
	top: 50%;
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}
.modal {
	padding-right: 0 !important;
}
.page_soon {
	font-size: 10px;
	color: #fff;
	padding: 0px 5px;
	border-radius: 20px;
	background-color: #28A745;
	text-transform: uppercase;
	font-weight: 600;
}
.alert .close {
	font-weight: normal;
	margin-left: 10px;
}	
.alert_style1 {
	border-radius: 0;
	border-left: 3px solid;
	padding: 20px;
	position: relative;
	border-top: 0;
	border-bottom: 0;
	border-right: 0;
}
.alert > i {
	margin-right: 5px;
	font-size: 18px;
	vertical-align: middle;
}
.alert_style2 {
	border-radius: 20px;
	padding: 20px 20px;
	background-color: #fff;
	border-left: 3px solid;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-top: 0;
	border-bottom: 0;
	border-right: 3px solid;;
}
.button_group .btn {
	margin-bottom: 20px;
}
.trading_img {
	margin-top: -40px;
}
.term_conditions h6 {
	margin-bottom: 15px;
}
.term_conditions ul,
.term_conditions ol {
	padding-left: 15px;
}
blockquote {
	font-size: 20px;
	line-height: 34px;
}
blockquote p {
	line-height: 34px;
}
blockquote p:last-child {
	margin: 0;
}
.blockquote_style1 {
	padding-left: 20px;
	border-left: 3px solid #ddd;
	margin: 30px 0;
}
.blockquote_style1 p {
	color: #292B2C;
}
.blockquote_style2 {
	background-color: #E439A1;
	padding: 20px;
	position: relative;
}
.blockquote_style2 * {
	color: #fff;
	font-size: 16px;
	line-height: 28px;
}
.blockquote_style2::before {
	content: "\f10e";
	position: absolute;
	left: 20px;
	top: 10px;
	color: #fff;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 70px;
	opacity: 0.3;
	line-height: normal;
}
.blockquote_style3 {
	background-color: #FAFAFA;
	padding: 20px;
	border-left: 2px solid $firstColor;
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 28px;
	margin-top: 5px;
	display: inline-block;
	width: 100%;
	position: relative;
}
.blockquote_style3::before {
	content: "\f10e";
	position: absolute;
	left: 20px;
	top: 10px;
	color: #000;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 70px;
	opacity: 0.05;
	line-height: normal;
	pointer-events: none;
}
.blockquote_style3 p {
	line-height: 28px;
}
.blockquote_style4 {
	text-align: center;
	padding: 20px;
	background-color: #f7f7f7;
	margin-bottom: 20px;
	font-size: 18px;
	position: relative;
}
.blockquote_style4::before {
	content: "\f10d";
	position: absolute;
	left: 50px;
	top: 10px;
	color: #000;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 70px;
	opacity: 0.05;
	line-height: normal;
}
.blockquote_style4,
.blockquote_style4 p {
	color: #222;
}
.sc_facebook {
	background-color: #3b5998 !important;
	border-color: #3b5998 !important;
}
.sc_gplus,
.sc_google {
	background-color:#dd4b39 !important;
	border-color: #dd4b39 !important;
}
.sc_linkedin {
	background-color:#0e76a8 !important;
	border-color: #0e76a8 !important;
}
.sc_rss {
	background-color:#ee802f !important;
	border-color: #ee802f !important;
}
.sc_skype {
	background-color:#00aff0 !important;
	border-color: #00aff0 !important;
}
.sc_twitter {
	background-color:#00acee !important;
	border-color: #00acee !important;
}
.sc_youtube {
	background-color:#c4302b !important;
	border-color: #c4302b !important;
}
.sc_vimeo {
	background-color:#86c9ef !important;
	border-color: #86c9ef !important;
}
.sc_yahoo {
	background-color:#720e9e !important;
	border-color: #720e9e !important;
}
.sc_tumblr {
	background-color:#34526f !important;
	border-color: #34526f !important;
}
.sc_instagram {
	background-color:#3f729b !important;
	border-color: #3f729b !important;
}
.sc_pinterest {
	background-color:#c8232c !important;
	border-color: #c8232c !important;
}
.sc_dribbble {
	background-color:#EA4C89 !important;
	border-color: #EA4C89 !important;
}
.sc_reddit {
	background-color: #C6C6C6 !important;
	border-color: #C6C6C6 !important;
}
.sc_github {
	background-color: #171515 !important;
	border-color: #171515 !important;
}
.sc_android {
	background-color: #A4C639 !important;
	border-color: #A4C639 !important;
}
.sc_windows {
	background-color: #00A7E7 !important;
	border-color: #00A7E7 !important;
}
.sc_tux {
	background-color: #C1C1C1 !important;
	border-color: #C1C1C1 !important;
}
.sc_delicious {
    background-color: #205cc0!important;
	border-color: #205cc0 !important;
}
.sc_paypal {
    background-color: #00588b!important;
	border-color: #00588b !important;
}
.sc_blogger {
    background-color: #fc4f08!important;
	border-color: #fc4f08!important;
}
.sc_flickr {
    background-color: #ff0084!important;
	border-color: #ff0084!important;
}
.sc_yahoo {
    background-color: #720e9e!important;
	border-color: #720e9e!important;
}
.sc_dropbox {
    background-color: #3d9ae8!important;
	border-color: #3d9ae8!important;
}
.sc_ebay {
    background-color: #89c507!important;
	border-color: #89c507!important;
}
.sc_wordpress {
    background-color: #1e8cbe!important;
	border-color: #1e8cbe !important;
}
.sc_yelp {
    background-color: #c41200!important;
}
.ti-lock:before {
	content: "\e62b";
}
.ti-shopping-cart:before {
	content: "\e60d";
}
.ti-shopping-cart-full:before {
	content: "\e60e";
}
.ti-layout-grid2:before {
	content: "\e709";
}
.ti-id-badge:before {
	content: "\e699";
}
.ti-location-pin:before {
	content: "\e693";
}
