#section{
    position:absolute;
    bottom:0;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding:1em;
    margin-top:5em;
    background-color:$firstColor;
    height: 150px;

    bottom:0;
    width:100%;
}
.mentions{
    display: flex;
    flex-direction: column;
    margin:1em;

}
.row.align-items-center{
    margin-bottom: 5px;
}
.contact-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
.fas.fa-solid.fa-envelope.fa-2xl{
    padding-right: 0.5em;
}

