.footer_dark {
	background-color: #D3BBB4!important;
	position: relative;
}
footer {
	overflow: hidden;
}
.footer_top {
	padding: 50px 0 30px;
}
#section{
    position:absolute;
    bottom:0;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding:1em;
    margin-top:5em;
    background-color:$firstColor;
    height: 150px;

    bottom:0;
    width:100%;
}
.mentions{
    display: flex;
    flex-direction: column;
    margin:1em;

}
.row.align-items-center{
    margin-bottom: 5px;
}
.contact-us{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    font-size:1em;
    align-self: center;
}
.fas.fa-solid.fa-envelope.fa-2xl{
    padding-right: 0.5em;
    color:white;
    font-size:1.5em;
}

.row-container-footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left:15px;
    align-self: start;
    align-items:center;
}
.bottom_footer {
	padding: 10px 0;
	position: relative;
}
.footer_call {
	border-radius: 40px;
	padding: 15px;
	text-align: center;
	background-color: rgba(0,0,0,0.2);
}
.footer_call * {
	margin: 0;
	font-size: 22px;
}
.footer_call i {
	margin-right: 10px;
}
.footer_payment li,
.app_list li {
	display: inline-block;
	list-style: none;
}
.bottom_footer .social_icons li {
	padding-bottom: 0;
}
.widget_contact_form {
	background-color: #fff;
	padding: 20px 30px 30px;
	margin-top: -190px;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.footer_dark a:hover, .footer_dark .widget_links li a:hover, .widget_links li a:hover, .footer_dark .footer_link li a:hover,.footer_link li a:hover {
	color: $firstColor;
}
.footer_dark h1, .footer_dark h2, .footer_dark h3, .footer_dark h4, .footer_dark h5, .footer_dark h6, .footer_dark p, .footer_dark a, .footer_dark .widget_links li a, .footer_dark .footer_link li a, .footer_dark .post_content a {
	color: #fff;
}
.footer_link li a {
	font-size: 14px;
	padding: 0 5px;
	color: #687188;
}
.footer_link li {
	display: inline-block;
	position: relative;
}
.bottom_footer {
	padding: 30px 0;
	position: relative;
}
.contact_info_light li i {
	border-color: #fff;
	color: #fff;
}
.contact_info_light li span,
.contact_info_light li a {
	color: #fff;
}
.contact_info > li:last-child {
	margin-bottom: 0px;
}
.contact_info li i {
	display: inline-block;
	margin-right: 10px;
	margin-top: 4px;
	font-size: 18px;
	vertical-align: top;
}
.contact_info li span {
	float: left;
	margin-right: 10px;
	max-width: 70px;
	width: 100%;
	color: #292b2c;
}
.contact_info span + * {
	overflow: hidden;
	color: #687188;
	margin: 0;
	font-size: 14px;
	line-height: 26px;
}
.contact_info i + * {
	overflow: hidden;
	font-size: 14px;
	color: #687188;
	line-height: 26px;
	margin: 0;
	vertical-align: middle;
	max-width: 78%;
	display: inline-block;
}
.widget_links li {
	list-style: none;
	padding-bottom: 10px;
}
.widget_links li:last-child {
	padding-bottom: 0;
}
.widget_links li a {
	font-size: 14px;
	color: #687188;
}
.contact_info > li {
	margin-bottom: 15px;
	list-style: none;
}
footer .widget_title {
	text-transform: capitalize;
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 18px;
}
footer .widget {
	margin-bottom: 30px;
}
footer p {
	font-size: 14px;
}
.footer_logo {
	margin-bottom: 20px;
}