.product{
    border-radius: 10px;
}
.product_img{
    border-radius: 100%, 50%;
}

.tab-style1 .nav-tabs li.nav-item a.active,
.tab-style1 .nav-tabs li.nav-item a.active:hover,
.tab-style2 .nav-tabs li.nav-item a.active,
.tab-style2 .nav-tabs li.nav-item a.active:hover{
    color: #D3BBB4
}