/******************** LOGIN & REGISTER ************************/
.login_wrap {
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.login_register_wrap {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}
.login_footer {
	margin-bottom: 20px;
	margin-top: 5px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
}
.login_footer a {
	color: #687188;
}
.btn-login li {
	margin: 0px 5px 0;
	display: inline-block;
}
.btn-login li a {
	border-radius: 5px;
	padding: 10px 20px;
	color: #fff;
	display: block;
}
.btn-login li a i {
	margin-right: 10px;
	font-size: 18px;
	margin-left: 0;
}
.btn-facebook {
	background: #3b5998;
	border-color: #3b5998;
}
.btn-facebook:hover {
	color: #fff;
	background: #344e86;
	border-color: #344e86;
}
.countdown_time {
	display: table;
	width: 100%;
}
.countdown_time .countdown_box {
	float: left;
	width: 25%;
	font-family: 'Roboto';
	padding: 0 15px;
}
.countdown-wrap {
	display: inline-block;
	text-align: center;
}
.countdown_time .cd_text {
	display: block;
}
.countdown_box .countdown {
	color: #292b2c;
	font-size: 40px;
}
.countdown_white .countdown_box .countdown, .countdown_white .countdown_box .cd_text {
    color: #fff;
}
.progress {
	margin-top: 5px;
	margin-bottom: 20px;
	border-radius: 20px;
}