#checkout_informations{
    border-color:black;
    border:solid 1px;
}
.form-check{
    padding:1em;
    border-bottom:solid;
}

.fas.fa-ban{
    color:#272727
}

.order_complete {
    padding:2em;
}
.order_complete i {
	font-size: 100px;
	margin-bottom: 20px;
}

.btn{
    margin-top:1em;
}