@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap&family=Poppins:200,300,400,500,600,700,800,900&display=swap');

//colors

$text:#444444;
$firstColor:#D3BBB4;
$secondColor:#EEE4E1;