{% extends 'base.html.twig' %}

{% block title %}CGU Tricot en Duo{% endblock %}

{% block body %}
    {{ include("partials/title_section.html.twig", { 'name':'Conditions générales d\'utilisation'})}}

<div class="container">
    <h1 class="text-center">Conditions générales d'utilisation du site Tricot en Duo</h1>
    <p class="text-justify">
        lorem ipsum blablalbla 
    </p>
</div>
{% endblock %}
