<div class="footer">
    <div class"mentions">
        <p>CGU/CGV</p>
        <P>Mentions Légales</p>
    </div>
    <div class="social">
        <i class="fa-brands fa-instagram fa-2xl"></i>
        <i class="fa-brands fa-facebook-square fa-2xl"></i>
        <i class="fa-brands fa-etsy fa-2xl"></i>
    </div>
    <div class="contact-us">
        <p> Contactez-nous</p>
        <i class="fa-solid fa-envelope fa-xl"></i>
    </div>
</div>