<section>
    <div class="footer">
        <div class="mentions">
            <a href="{{ path('cgu_conditions')}}" class="row align-items-center">CGU/CGV</a>
            <P class="row align-items-center">Mentions Légales</p>
            <p class="row align-items-center"> RGPD </P>
        </div>
        <div class="social">
            <i class="fas fa-brands fa-square-instagram fa-2xl"></i>
            <i class="fas fa-brands fa-facebook-square fa-2xl"></i>
            <i class="fas fa-brands fa-etsy fa-2xl"></i>
        </div>
        <div class="contact-us">
            <i class=" fas fa-solid fa-envelope fa-2xl"></i>
            <p> Contactez-nous</p>
        </div>
    </div>
</section>