{% extends 'base.html.twig' %}

{% block title %}Editer votre adresse{% endblock %}

{% block body %}

    <div class="login_register_wrap section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-md-10">
                    <div class="login_wrap">
                        <div class="padding_eight_all bg-white">
                            <div class="heading_s1">
                                <h3>Editer votre adresse</h3>
                            </div>
                            <div class="content">
                                {{ include('address/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}
                                <a class="btn btn-border-fill btn-block mt-2" href="{{ path('account') }}">Retour à votre compte</a>
                            </div>               
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
